# vim: filetype=make

# Copy this file to Make.user and set some variables.

# What Spack should we use?
SPACK := spack

# The Spack installation root.
STORE := /some/path

# Build on a faster filesystem with bubblewrap if desired (assuming the STORE := /apps/something)
# BWRAP := bwrap --dev-bind / / --tmpfs /tmp --bind "/dev/shm/apps" "/apps"
BWRAP := bin bwrap --dev-bind / / --tmpfs /tmp

# Makes sure that make -Orecurse continues to print in color.
export SPACK_COLOR := always

# Look for compilers.yaml / packages.yaml in this directory. 
# export SPACK_USER_CONFIG_PATH := /path/to/config
